# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PROJET_GITHUB\PCII-Projet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
